name: Publish extension on release

on:
  push:
    branches:
      - develop
      - master

jobs:
  lint:
    name: Check for any lint errors
    runs-on: ubuntu-latest
    steps:
      - name: Checking out source code
        uses: actions/checkout@master

      - name: Setting up nodejs version 10
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Starting lint check
        run: |
          npm install
          npm run lint

  publish:
    name: Publish on marketplace
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checking out master branch
        uses: actions/checkout@master
      - name: Setting up nodejs version 10
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Publish to marketplace (Dev)
        if: github.ref == 'refs/heads/develop'
        run: |
          npm i -g tfx-cli
          npm install
          node scripts/build.js
          rm -rf vss-extension/build
          mv build/ vss-extension/
          cd vss-extension/
          npm install
          echo '${{ secrets.PERSONAL_ACCESS_TOKEN }}' | tfx extension publish --publisher ${{ secrets.PUBLISHER }} --manifest-globs vss-extension.json --share-with ${{ secrets.SHARED_ACCOUNT }} --rev-version
          cd ..
          git config --global user.name 'Topcoder X'
          git config --global user.email 'tcx@topcoder.com'
          git commit -am "Increase version"
          git push
      - name: Publish to marketplace (Prod)
        if: github.ref == 'refs/heads/master'
        run: |
          npm i -g tfx-cli
          npm install
          node scripts/build.js
          rm -rf vss-extension/build
          mv build/ vss-extension/
          cd vss-extension/
          npm install
          echo Publisher: ${{ secrets.PUBLISHER }}
          echo '${{ secrets.PERSONAL_ACCESS_TOKEN_PROD }}' | tfx extension publish --publisher ${{ secrets.PUBLISHER }} --manifest-globs vss-extension.json --overrides-file vss-extension.prod-overrides.json --share-with ${{ secrets.SHARED_ACCOUNT }} --rev-version
          cd ..
          git config --global user.name 'Topcoder X'
          git config --global user.email 'tcx@topcoder.com'
          git commit -am "Increase version"
          git push
